# TypeScript/JavaScript
node_modules
dist
dist-dev
dist-prod
lerna-debug.log
.npmrc
.nx/**

# Python
.venv/
pip-log.txt
__pycache__/

# Miscellaneous
.atlassianrc

# JetBrains products are ignored by default - remove where needed
.idea/

**/.DS_Store
**/tsconfig.tsbuildinfo

/packages/sdk.tester
